<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.remote.admin.module.business.typenode.dao.TypeNodeDao">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="tech.remote.admin.module.business.typenode.domain.vo.TypeNodeVO">
        SELECT
        *
        FROM t_type_node
        <where>
            <!--项目类型-->
            <if test="queryForm.projectType != null">
                AND t_type_node.project_type = #{queryForm.projectType}
            </if>
        </where>
    </select>


</mapper>