<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.remote.admin.module.business.customer.dao.CustomerDao">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="tech.remote.admin.module.business.customer.domain.vo.CustomerVO">
        SELECT
        *
        FROM t_customer
        <where>
            <!--客户名称-->
            <if test="queryForm.customerName != null and queryForm.customerName != ''">
                        AND INSTR(t_customer.customer_name,#{queryForm.customerName})
            </if>
            <!--客户级别-->
            <if test="queryForm.customerLevel != null">
                AND t_customer.customer_level = #{queryForm.customerLevel}
            </if>
            <!--联系人-->
            <if test="queryForm.contact != null and queryForm.contact != ''">
                        AND INSTR(t_customer.contact,#{queryForm.contact})
            </if>
            <!--联系人电话-->
            <if test="queryForm.contactPhone != null and queryForm.contactPhone != ''">
                        AND INSTR(t_customer.contact_phone,#{queryForm.contactPhone})
            </if>
            <!--省份-->
            <if test="queryForm.province != null">
                AND t_customer.province = #{queryForm.province}
            </if>
            <!--市-->
            <if test="queryForm.city != null">
                AND t_customer.city = #{queryForm.city}
            </if>
            <!--区县-->
            <if test="queryForm.district != null">
                AND t_customer.district = #{queryForm.district}
            </if>
            <!--工厂省份-->
            <if test="queryForm.factoryProvince != null">
                AND t_customer.factory_province = #{queryForm.factoryProvince}
            </if>
            <!--工厂市-->
            <if test="queryForm.factoryCity != null">
                AND t_customer.factory_city = #{queryForm.factoryCity}
            </if>
            <!--工厂区县-->
            <if test="queryForm.factoryDistrict != null">
                AND t_customer.factory_district = #{queryForm.factoryDistrict}
            </if>
        </where>
    </select>



    <update id="batchUpdateDeleted">
        update t_customer set deleted_flag = #{deletedFlag}
        where customer_id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <update id="updateDeleted">
        update t_customer set deleted_flag = #{deletedFlag}
        where customer_id = #{customerId}
    </update>
</mapper>