<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.remote.admin.module.business.goods.dao.InventoryDao">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="tech.remote.admin.module.business.goods.domain.vo.InventoryVO">
        SELECT
        *
        FROM t_inventory
        <where>
            <!--型号规格ID-->
            <if test="queryForm.skuId != null">
                AND t_inventory.sku_id = #{queryForm.skuId}
            </if>
            <!--商品ID-->
            <if test="queryForm.goodsId != null">
                AND t_inventory.goods_id = #{queryForm.goodsId}
            </if>
            <!--商品类目ID-->
            <if test="queryForm.categoryId != null">
                AND t_inventory.category_id = #{queryForm.categoryId}
            </if>
        </where>
    </select>



    <update id="batchUpdateDeleted">
        update t_inventory set deleted_flag = #{deletedFlag}
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <update id="updateDeleted">
        update t_inventory set deleted_flag = #{deletedFlag}
        where id = #{id}
    </update>
</mapper>