<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.remote.admin.module.business.goods.dao.StocktakeItemDao">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="tech.remote.admin.module.business.goods.domain.vo.StocktakeItemVO">
        SELECT
        *
        FROM t_stocktake_item
        <where>
            <!--盘点单ID-->
            <if test="queryForm.stocktakeId != null">
                AND t_stocktake_item.stocktake_id = #{queryForm.stocktakeId}
            </if>
            <!--型号规格ID-->
            <if test="queryForm.skuId != null">
                AND t_stocktake_item.sku_id = #{queryForm.skuId}
            </if>
            <!--商品ID-->
            <if test="queryForm.goodsId != null">
                AND t_stocktake_item.goods_id = #{queryForm.goodsId}
            </if>
            <!--商品类目ID-->
            <if test="queryForm.categoryId != null">
                AND t_stocktake_item.category_id = #{queryForm.categoryId}
            </if>
        </where>
    </select>
    <select id="listByStocktakeId"
            resultType="tech.remote.admin.module.business.goods.domain.vo.StocktakeItemVO">
        SELECT
            i.*, c.category_name as categoryName,  g.goods_name as goodsName, s.sku_name as skuName, s.length, s.weight
        FROM t_stocktake_item i
                 LEFT JOIN t_goods g ON i.goods_id = g.goods_id
                 LEFT JOIN t_category c ON i.category_id = c.category_id
                 LEFT JOIN t_skus s ON i.sku_id = s.sku_id
        WHERE i.stocktake_id = #{stocktakeId}
    </select>


</mapper>