<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.remote.admin.module.business.project.dao.ProjectLabDao">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="tech.remote.admin.module.business.project.domain.vo.ProjectLabVO">
        SELECT
        t.*,p1.name as thirdPartyName
        FROM t_project_lab t
        left join t_third_party p1 on t.third_party_id = p1.id
        <where>
            <!--项目ID-->
            <if test="queryForm.projectId != null">
                AND t.project_id = #{queryForm.projectId}
            </if>
            <!--三方机构ID（实验室ID）-->
            <if test="queryForm.thirdPartyId != null">
                AND t.third_party_id = #{queryForm.thirdPartyId}
            </if>
        </where>
    </select>

    <select id="getDetail"
            resultType="tech.remote.admin.module.business.project.domain.vo.ProjectLabVO">
        SELECT
            t.*,p1.name as thirdPartyName
        FROM t_project_lab t
        left join t_third_party p1 on t.third_party_id = p1.id
        WHERE t.id = #{id}
    </select>
    <select id="getByCode"
            resultType="tech.remote.admin.module.business.project.domain.vo.ProjectLabProgressVO">
        SELECT
            t.*,p1.name as thirdPartyName,c.customer_name as customerName
        FROM t_project_lab t
                 left join t_third_party p1 on t.third_party_id = p1.id
                 left join t_project p on t.project_id = p.id
                 left join t_customer c on p.customer_id = c.customer_id
        WHERE t.progress_code = #{progressCode}
    </select>

</mapper>