<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.remote.admin.module.business.project.dao.ProjectLabDao">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="tech.remote.admin.module.business.project.domain.vo.ProjectLabVO">
        SELECT
        t.*,p1.name as thirdPartyName
        FROM t_project_lab t
        left join t_third_party p1 on t.third_party_id = p1.id
        <where>
            <!--项目ID-->
            <if test="queryForm.projectId != null">
                AND t.project_id = #{queryForm.projectId}
            </if>
            <!--三方机构ID（实验室ID）-->
            <if test="queryForm.thirdPartyId != null">
                AND t.third_party_id = #{queryForm.thirdPartyId}
            </if>
        </where>
    </select>

    <select id="getDetail"
            resultType="tech.remote.admin.module.business.project.domain.vo.ProjectLabVO">
        SELECT
            t.*,p1.name as thirdPartyName
        FROM t_project_lab t
        left join t_third_party p1 on t.third_party_id = p1.id
        WHERE t.id = #{id}
    </select>
    <select id="getByCode"
            resultType="tech.remote.admin.module.business.project.domain.vo.ProjectLabProgressVO">
        SELECT
            t.*,p1.name as thirdPartyName,c.customer_name as customerName
        FROM t_project_lab t
                 left join t_third_party p1 on t.third_party_id = p1.id
                 left join t_project p on t.project_id = p.id
                 left join t_customer c on p.customer_id = c.customer_id
        WHERE t.progress_code = #{progressCode}
    </select>

<!--    办公室待办、实验室任务列表、实验室预警-->
    <select id="selectProjectLabs" resultType="tech.remote.admin.module.business.project.domain.vo.ProjectLabListVO">
        SELECT l.*,
        p.project_no, p.project_type, p.category, p.customer_id, p.source_type, p.source_id,
        p3.name AS thirdPartyName, c.customer_name AS customerName,
        CASE
        WHEN p.source_type = 1 THEN p2.name
        WHEN p.source_type = 2 THEN e.actual_name
        ELSE NULL
        END AS sourceName,
        DATEDIFF(l.lab_expected_date, CURDATE()) AS alarmDays
        FROM t_project_lab l
        LEFT JOIN t_project p ON l.project_id = p.id and p.deleted_flag = 0
        LEFT JOIN t_third_party p3 ON l.third_party_id = p3.id
        LEFT JOIN t_customer c ON p.customer_id = c.customer_id
        LEFT JOIN t_third_party p2 ON p.source_type = 1 AND p.source_id = p2.id
        LEFT JOIN t_employee e ON p.source_type = 2 AND p.source_id = e.employee_id
        WHERE p.project_type IN (11, 12, 21)
        <if test="queryForm.thirdPartyId != null">AND l.third_party_id = #{queryForm.thirdPartyId}</if>
        <if test="queryForm.projectNo != null and queryForm.projectNo != ''">AND INSTR(p.project_no, #{queryForm.projectNo})</if>
        <if test="queryForm.projectType != null">AND p.project_type = #{queryForm.projectType}</if>
        <if test="queryForm.category != null">AND p.category = #{queryForm.category}</if>
        <if test="queryForm.customerId != null">AND p.customer_id = #{queryForm.customerId}</if>
        <if test="queryForm.sourceType != null">AND p.source_type = #{queryForm.sourceType}</if>
        <if test="queryForm.sourceId != null">AND p.source_id = #{queryForm.sourceId}</if>
        <if test="queryForm.operateUserId != null">
            AND l.id IN (SELECT DISTINCT n.task_id FROM t_project_node n WHERE operate_user_id = #{queryForm.operateUserId})
        </if>
        <if test="queryForm.status != null">AND l.status = #{queryForm.status}</if>
        <if test="queryForm.labContractNo != null and queryForm.labContractNo != ''">AND INSTR(l.lab_contract_no, #{queryForm.labContractNo})</if>
        <if test="queryForm.labPayDateBegin != null">AND DATE_FORMAT(l.lab_pay_date, '%Y-%m-%d') &gt;= #{queryForm.labPayDateBegin}</if>
        <if test="queryForm.labPayDateEnd != null">AND DATE_FORMAT(l.lab_pay_date, '%Y-%m-%d') &lt;= #{queryForm.labPayDateEnd}</if>

        <if test="(queryForm.productName != null and queryForm.productName != '') or (queryForm.productModel != null and queryForm.productModel != '')">
            AND l.id IN (SELECT DISTINCT n.task_id FROM t_project_product n WHERE 1=1
                        <if test="queryForm.productName != null and queryForm.productName != ''">
                            AND INSTR(n.product_name, #{queryForm.productName})
                        </if>
                        <if test="queryForm.productModel != null and queryForm.productModel != ''">
                            AND INSTR(n.product_model, #{queryForm.productModel})
                        </if>
            )
        </if>

        <if test="queryForm.toDoType != null and queryForm.toDoType == 1">
            <!--从录入项目合同到下达任务（包含）节点，有任何一个节点没完成的-->
          AND l.id in (
            select distinct task_id
            from t_project_node
            where project_type in (11,12,21) and node_id in (3,4,5,6,7) and status in (0,1)
          )
        </if>
        <if test="queryForm.toDoType != null and queryForm.toDoType == 2">
            <!--下达任务节点已完成，预计完成、实验检测、实验室上报这3个节点没有完成-->
            AND l.id in (
                select distinct n.task_id
                from t_project_node n
                inner join
                (
                    select  distinct project_id, task_id
                    from t_project_node
                    where project_type in (11,12,21) and node_id = 7 and status = 2) as n1 on n1.project_id = n.project_id and n1.task_id = n.task_id
                where n.node_id in (8,9,10) and n.status in (0,1)
            )
        </if>
        <if test="queryForm.alarmType != null and queryForm.alarmType == 2">
            <!--实验室任务客户要求完成日期提前3天预警-->
            AND l.lab_expected_date IS NOT NULL AND l.lab_expected_date &lt;= DATE_ADD(CURDATE(), INTERVAL 3 DAY)
            AND l.status != 2
            ORDER BY alarmDays ASC, l.create_time DESC
        </if>
        <if test="queryForm.alarmType == null ">
            order by l.create_time desc
        </if>
    </select>
    <select id="selectExcelList"
            resultType="tech.remote.admin.module.business.project.domain.vo.ProjectLabExcelVO">
        SELECT l.*,
        p.project_no, p.project_type, p.category, p.customer_id, p.source_type, p.source_id, p.audit_date,
        p3.name AS thirdPartyName, c.customer_name AS customerName,
        n.lab_report_date AS labReportDate, n.self_declaration_date AS selfDeclareDate, n.certificate_send_date AS certificateSendDate,n.mailing_date AS mailingDate,
        CASE
        WHEN p.source_type = 1 THEN p2.name
        WHEN p.source_type = 2 THEN e.actual_name
        ELSE NULL
        END AS sourceName,
        CASE
        WHEN p.project_type = 11 THEN 'CCC自我声明'
        WHEN p.project_type = 12 THEN '产品认证'
        WHEN p.project_type = 21 THEN '试验项目'
        WHEN p.project_type = 31 THEN '产品监督'
        ELSE NULL
        END AS projectTypeName,
        CASE
        WHEN p.project_type = 11 and p.category = 1 THEN '初始'
        WHEN p.project_type = 11 and p.category = 2 THEN '变更'
        WHEN p.project_type = 11 and p.category = 3 THEN '增项'
        WHEN p.project_type = 12 and p.category = 1 THEN '初始'
        WHEN p.project_type = 12 and p.category = 2 THEN '变更'
        WHEN p.project_type = 12 and p.category = 3 THEN '增项'
        WHEN p.project_type = 21 and p.category = 1 THEN '委托'
        WHEN p.project_type = 21 and p.category = 2 THEN '型式'
        WHEN p.project_type = 21 and p.category = 3 THEN '监督抽样'
        WHEN p.project_type = 31 THEN ''
        ELSE NULL
        END AS categoryName,
        CASE
        WHEN l.is_paid = 1 THEN '是'
        WHEN l.is_paid = 0 THEN '否'
        ELSE NULL
        END AS isPaid,

        CASE
        WHEN l.pay_party = 1 THEN '客户'
        WHEN l.pay_party = 2 THEN '我方'
        ELSE NULL
        END AS payParty,
        CASE
        WHEN l.status = 1 THEN '进行中'
        WHEN l.status = 2 THEN '已完成'
        ELSE NULL
        END AS statusName
        FROM t_project_lab l
        LEFT JOIN t_project p ON l.project_id = p.id and p.deleted_flag = 0
        LEFT JOIN t_third_party p3 ON l.third_party_id = p3.id
        LEFT JOIN t_customer c ON p.customer_id = c.customer_id
        LEFT JOIN t_third_party p2 ON p.source_type = 1 AND p.source_id = p2.id
        LEFT JOIN t_employee e ON p.source_type = 2 AND p.source_id = e.employee_id
        LEFT JOIN
            (SELECT
            pp.id AS product_id,
            pp.task_id,
            pm.mailing_date,
            pp.lab_report_date,
            pp.self_declaration_date,
            pp.certificate_send_date
            FROM
            t_project_product pp
            JOIN (
                SELECT
                task_id,
                MAX(lab_report_date) AS max_lab_report_date
                FROM
                t_project_product
                GROUP BY
                task_id
                ) AS max_dates ON pp.task_id = max_dates.task_id AND pp.lab_report_date = max_dates.max_lab_report_date
            LEFT JOIN t_project_mail pm ON pp.mail_id = pm.id
            ) AS n on n.task_id = l.id
        WHERE p.project_type IN (11, 12, 21)
        <if test="queryForm.thirdPartyId != null">AND l.third_party_id = #{queryForm.thirdPartyId}</if>
        <if test="queryForm.projectNo != null and queryForm.projectNo != ''">AND INSTR(p.project_no, #{queryForm.projectNo})</if>
        <if test="queryForm.projectType != null">AND p.project_type = #{queryForm.projectType}</if>
        <if test="queryForm.category != null">AND p.category = #{queryForm.category}</if>
        <if test="queryForm.customerId != null">AND p.customer_id = #{queryForm.customerId}</if>
        <if test="queryForm.sourceType != null">AND p.source_type = #{queryForm.sourceType}</if>
        <if test="queryForm.sourceId != null">AND p.source_id = #{queryForm.sourceId}</if>
        <if test="queryForm.operateUserId != null">
            AND l.id IN (SELECT DISTINCT n.task_id FROM t_project_node n WHERE operate_user_id = #{queryForm.operateUserId})
        </if>
        <if test="queryForm.status != null">AND l.status = #{queryForm.status}</if>
        <if test="queryForm.labContractNo != null and queryForm.labContractNo != ''">AND INSTR(l.lab_contract_no, #{queryForm.labContractNo})</if>
        <if test="queryForm.labPayDateBegin != null">AND DATE_FORMAT(l.lab_pay_date, '%Y-%m-%d') &gt;= #{queryForm.labPayDateBegin}</if>
        <if test="queryForm.labPayDateEnd != null">AND DATE_FORMAT(l.lab_pay_date, '%Y-%m-%d') &lt;= #{queryForm.labPayDateEnd}</if>
        order by l.create_time
    </select>


<!--    实验室待办-->
    <select id="selectLabsTodo" resultType="tech.remote.admin.module.business.project.domain.vo.ProjectProductListVO">
        SELECT pp.*,l.task_no,l.third_party_id,l.lab_contract_no,l.lab_contract_date,l.lab_contract_amount,l.lab_expected_date,l.data_send_date,l.data_receive_date,l.is_paid,l.pay_party,l.lab_pay_date,l.assign_task_date,
        p.project_no, p.project_type, p.category, p.customer_id, p.source_type, p.source_id,
        p3.name AS thirdPartyName, c.customer_name AS customerName,
        CASE
        WHEN p.source_type = 1 THEN p2.name
        WHEN p.source_type = 2 THEN e.actual_name
        ELSE NULL
        END AS sourceName,
        DATEDIFF(l.lab_expected_date, CURDATE()) AS alarmDays
        FROM t_project_product pp
        JOIN t_project_lab l ON l.id = pp.task_id
        LEFT JOIN t_project p ON l.project_id = p.id and p.deleted_flag = 0
        LEFT JOIN t_third_party p3 ON l.third_party_id = p3.id
        LEFT JOIN t_customer c ON p.customer_id = c.customer_id
        LEFT JOIN t_third_party p2 ON p.source_type = 1 AND p.source_id = p2.id
        LEFT JOIN t_employee e ON p.source_type = 2 AND p.source_id = e.employee_id
        WHERE p.project_type IN (11, 12, 21) AND l.third_party_id IS NOT NULL
        <if test="queryForm.thirdPartyId != null">AND l.third_party_id = #{queryForm.thirdPartyId}</if>
        <if test="queryForm.projectNo != null and queryForm.projectNo != ''">AND INSTR(p.project_no, #{queryForm.projectNo})</if>
        <if test="queryForm.projectType != null">AND p.project_type = #{queryForm.projectType}</if>
        <if test="queryForm.category != null">AND p.category = #{queryForm.category}</if>
        <if test="queryForm.customerId != null">AND p.customer_id = #{queryForm.customerId}</if>
        <if test="queryForm.sourceType != null">AND p.source_type = #{queryForm.sourceType}</if>
        <if test="queryForm.sourceId != null">AND p.source_id = #{queryForm.sourceId}</if>
        <if test="queryForm.operateUserId != null">
            AND l.id IN (SELECT DISTINCT n.task_id FROM t_project_node n WHERE operate_user_id = #{queryForm.operateUserId})
        </if>
        <if test="queryForm.status != null">AND l.status = #{queryForm.status}</if>
        <if test="queryForm.labContractNo != null and queryForm.labContractNo != ''">AND INSTR(l.lab_contract_no, #{queryForm.labContractNo})</if>
        <if test="queryForm.labPayDateBegin != null">AND DATE_FORMAT(l.lab_pay_date, '%Y-%m-%d') &gt;= #{queryForm.labPayDateBegin}</if>
        <if test="queryForm.labPayDateEnd != null">AND DATE_FORMAT(l.lab_pay_date, '%Y-%m-%d') &lt;= #{queryForm.labPayDateEnd}</if>
        <if test="queryForm.nodeId != null and queryForm.nodeId == 8 ">
            <!--7下达任务节点已完成，8预计完成节点没有完成-->
            AND pp.id in (
            select distinct n.product_id
            from t_project_node n
            inner join
            (
            select  distinct project_id, task_id
            from t_project_node
            where project_type in (11,12,21) and node_id = 7 and status IN (2, 3)) as n1 on n1.project_id = n.project_id and n1.task_id = n.task_id
            where n.node_id = 8 and n.status in (0,1)
            )
        </if>
        <if test="queryForm.nodeId != null and queryForm.nodeId == 9 ">
            <!--8预计完成节点已完成，9实验检测节点没有完成-->
            AND pp.id in (
            select distinct n.product_id
            from t_project_node n
            inner join
            (
            select  distinct project_id, task_id, product_id
            from t_project_node
            where project_type in (11,12,21) and node_id = 8 and status IN (2, 3)) as n1 on n1.project_id = n.project_id and n1.task_id = n.task_id and n1.product_id = n.product_id
            where n.node_id = 9 and n.status in (0,1)
            )
        </if>
        <if test="queryForm.nodeId != null and queryForm.nodeId == 10 ">
            <!--9实验检测节点已完成，10实验室上报节点没有完成-->
            AND pp.id in (
            select distinct n.product_id
            from t_project_node n
            inner join
            (
            select  distinct project_id, task_id, product_id
            from t_project_node
            where project_type in (11,12,21) and node_id = 9 and status IN (2, 3)) as n1 on n1.project_id = n.project_id and n1.task_id = n.task_id and n1.product_id = n.product_id
            where n.node_id = 10 and n.status in (0,1)
            )
        </if>
            order by l.create_time desc
    </select>
</mapper>