name: rr-admin-actions
on: workflow_dispatch
#  push:
#    branches:
#      - tcyk_v0.0.1

jobs:
  web-vue-job:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    defaults:
      run:
        working-directory: ./smart-admin-web/javascript-ant-design-vue3/
    steps:
      - uses: actions/checkout@v4
      - name: list path
        run: ls -la
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm ci
        run: npm ci
        working-directory: ./smart-admin-web/javascript-ant-design-vue3/
      - name: npm run build
        run: npm run build:prod
        working-directory: ./smart-admin-web/javascript-ant-design-vue3/
      - name: Install SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
         ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Copy dist to Alibaba Cloud
        run: scp -r dist root@47.105.50.110:/usr/local/springboot/app/view/

  web-server-job:
    needs: web-vue-job
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'adopt'
          # cache: maven
      - name: Build with Maven
        run: mvn -B package --file pom.xml
        working-directory: ./rns-api
      - name: Copy jar to Alibaba Cloud
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        working-directory: ./rns-api/rns-admin/target
        run: |
          mkdir -p ~/.ssh
          echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 47.105.50.110 >> ~/.ssh/known_hosts
          scp -r *.jar root@47.105.50.110:/usr/local/springboot/app/server/
          
      - name: Install SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
         ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Execute restart on server
        run: ssh root@47.105.50.110 'bash -s' < /usr/local/springboot/app/server/bin/server.sh restart
