name: rr-admin-actions
on: workflow_dispatch
#  push:
#    branches:
#      - tcyk_v0.0.1

jobs:
  web-vue-job:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    defaults:
      run:
        working-directory: ./smart-admin-web/javascript-ant-design-vue3/
    steps:
      - uses: actions/checkout@v4
      - name: list path
        run: ls -la
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm ci
        run: npm ci
        working-directory: ./smart-admin-web/javascript-ant-design-vue3/
      - name: npm run build
        run: npm run build:prod
        working-directory: ./smart-admin-web/javascript-ant-design-vue3/

  web-server-job:
    needs: web-vue-job
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: maven
      - name: Set up maven work directory
        run: cd ./smart-admin-api
      - name: Build with Maven
        run: mvn -B package --file pom.xml
        working-directory: ./smart-admin-api

      # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
      - name: Update dependency graph
        uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
